*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
} 
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
#root, #__next {
    isolation: isolate;
}
/* preset */

:root{
    --pink: #EEC5CD;
    --transparentbeige: #f8f0de99;
    --beige: #F8F0DE;
    --darkbeige: #EBE3D2;
    --red: #E45457;
    --yellow: #F2BC48;
    --green: #7ABF4F;
    --blue: #CBDCE4;
    --grey: #4e4e4e;
    --shadow: rgba(1, 1, 1, .25);
}
html{
    height: 100%;
}
body{
    font-family: "Zain", sans-serif;
    font-style: normal;
    font-weight: 400; 
    height: 100%;

    /* regular */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

}
img{
    width: auto;
    height: 100vw;
    min-width: 100vh;
    object-fit: cover;
    position: absolute;
    z-index: -1;

    transform: rotate(90deg);
    filter: brightness(80%);
}

/* css classes for different weights of font? */
#container{
    display: grid;
    width: 775px;
    height: 600px;
    grid-template-columns: 175px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 
    "header header"
    "left main";
    /* 100 500*/
    /* 150 550 */
}
#header{
    display: flex;
    background-color: var(--pink);
    grid-area: header;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
    font-weight: 600; 
    /* ^^^ this doesnt change the content  */
}
#left-panel{
    padding: 30px;
    background-color: var(--beige);
    grid-area: left;
}
.home-tab, .note-tab, .project-tab > h2, .project-list{
    opacity: 60%;
}
.home-tab:hover, .note-tab:hover, .project-list:hover{
    cursor: pointer;
    opacity: 100%;
}
.project-list{
    display: flex;
    text-transform: capitalize;
    font-size: 1.2em;
    padding: 8px 18px;
    overflow-wrap: break-word;
    max-width: 150px;
    line-height: .8em;
    position: relative;
    align-items: center;
}
.project-list > button{
    display: none;
    padding: 0;
    background-color: transparent;
    border: none;
    opacity: 50%;
    font-size: .6em;
    position: absolute;
    left: 0;
}
.project-list:hover > button{
    display: inline;
    cursor: pointer;
}
.project-list:hover > button:hover{
    opacity: 100%;
}
#main-panel{
    grid-area: main;
    background-color: var(--transparentbeige);
    height: 100%;
    position: relative;
}
#list-wrapper{
    height: 400px;
    overflow-y: scroll;
    scrollbar-color: rgba(128, 128, 128, 0.606) transparent;
    scrollbar-width: thin;
}
/* fix interaction with div */
input[type='checkbox']{
    appearance: none;
    background-color: transparent;
    margin: 10px;
    width: 1em;
    height: 1em;
    border: .2em solid black;
    cursor: pointer;

    display: grid;
    place-content: center;
}
input[type="checkbox"]::before {
    content: "";
    width: 0.6em;
    height: 0.6em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em black;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
input[type='checkbox']:checked::before{
    transform: scale(1);
}
.collapse:has(input[type='checkbox']:checked){
    text-decoration: line-through;
    box-shadow: inset 5em 5em var(--shadow), var(--shadow) 1px 5px 5px;
}
#priority:has(+ input[type='checkbox']:checked){
    box-shadow: inset 5em 5em var(--shadow);
}
h3, h3 + p{
    line-height: 1em;
}
#card-detail > p{
    color: var(--grey);
}
#button-wrapper{
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 15px;
}
.collapse{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
    margin-bottom: 0px;
    background-color: var(--beige);
    cursor: pointer;
    box-shadow: var(--shadow) 1px 5px 5px;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.collapse button{
    background-color: transparent;
    border: none;
    padding: 0px;
}
.content{
    font-size: 1.2em;
    margin: 0 30px;
    padding: 0em  1em;
    width: 540px;
    max-height: 0;
    overflow: hidden;
    background-color: var(--transparentbeige);
    transition: max-height 0.2s ease-out;
    white-space: pre-wrap;
}
svg{
    cursor: pointer;
    color: black;
    width: 24px;
    height: 24px;
}
#priority{
    height: 70px;
    width: 15px;
}

/* add button */
#new{
    background-color: var(--pink);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: none;
    position: absolute;
    left: 510px;
    top: 420px;

    line-height: 55px;
    font-size: 50px;
}
#new:hover{
    line-height: 50px;
    border: solid var(--pink) 5px;
    background-color: var(--beige);
}

/* form styling */
dialog{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 0;
    border: none;
    height: 450px;
}

.tabcontent > form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    height: 100%;
}
.form-wrapper{
    display: flex;
    flex-direction: column;
    background-color: var(--blue);
    width: 800px;
    height: 100%;
}
#tab-wrapper{
    height: 60px;
    position: relative;
}
.close{
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 50%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.close:hover{
    opacity: 100%;
}
.form-wrapper > h2{
    padding: 20px
}
.form-wrapper > form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.tabcontent, .form-wrapper > form{
    padding: 30px 60px;
    background-color: var(--beige);
    flex: 1 1 auto;
    
    font-size: 20px;
}
.tabs{
    border: none;
    background-color: var(--darkbeige);
    font-size: 23px;
    width: fit-content;
    padding: 5px 15px;
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 1px -3px 3px rgba(128, 128, 128, 0.5);
}
.tabs:hover{
    cursor: pointer;
}
.active{
    opacity: 100%;
    background-color: var(--beige);
}
input, textarea{
    padding: 0;
    outline: none;
    border-style: none;
    background-color: var(--beige);
}
textarea{
    resize: none; 
    height: 150px;
}
input[type='date']{
    color: gray;
}
#priority-wrapper{
    margin-bottom: 10px;
}
#priority-select{
    background-color: var(--beige);
    height: 30px;
    border: none;
    overflow: hidden;
}
select:focus {
    box-shadow: none;
    outline: none;
}
#priority-select > option{
    height: 30px;
    width: 70px;
    font-size: 1.1em;
    margin-right: 25px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    padding-top: 0px;
}


/* hover affects */
option[value='high']{
    border: solid 2px var(--red);
    color: var(--red);
}
option[value='high']:checked{
    background-color: var(--red);
    color: var(--beige);
}
option[value='med']{
    border: solid 2px var(--yellow);
    color: var(--yellow);
}
option[value='med']:checked{
    background-color: var(--yellow);
    color: var(--beige);
}
option[value='low']{
    border: solid 2px var(--green);
    color: var(--green);
}
option[value='low']:checked{
    background-color: var(--green);
    color: var(--beige);
}
#project-select{
    width: 125px;
    border: none;
    background-color: var(--darkbeige);
    cursor: pointer;
}
#project-select > option{
    font-size: 15px;
    text-transform: capitalize;
    /* different font? */
}
button[type = 'submit']{
    text-transform: uppercase;
    font-size: 22px;
    background-color: var(--pink);
    border: none;
    border-radius: 50px;
    height: 40px;
    width: 80px;
    position: absolute;
    right: -20px;
    bottom: 0px;
    cursor: pointer;
}
button[type = 'submit']:hover{
    border: solid 4px var(--pink);
    background-color: var(--beige);
}

/* note styling */
#note-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 30px;
    justify-items: center;
}
.notecard{
    font-size: 1.3em;
    background-color: var(--beige);
    width: 225px;
    padding: 20px;
    box-shadow: 1px 0px 4px gray;
    word-wrap: break-word;
    position: relative;
    white-space: pre-wrap;
}

.notecard > div{
    min-height: calc(100% + 2px);
    max-height: 135px;
    overflow-y: scroll;
    text-wrap: pretty;
    line-height: 1.3em;
}
.notecard > button{
    position: absolute;
    align-self: right;
    font-size: .8em;
    padding: 0;
    top: 10px;
    right: 10px;
    line-height: 1em;
    border: none;
    background-color: transparent;
    opacity: 50%;
}
.notecard > button:hover{
    opacity: 100%;
}
.notecard > button:hover{
    cursor: pointer;
}
.underline, .underline > h2{
    text-decoration: underline;
    opacity: 100%;
}